.submitBtn {
  box-sizing: border-box;
  padding: 10px 20px;
  background-color: var(--color-mint);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;

  max-width: 420px;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
}

.linkBtn {
  box-sizing: border-box;
  padding: 10px 20px;
  background-color: var(--color-mint);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: 50px;
  color: #fff;
  font-weight: bold;
  font-size: 18px;
}
.eatBtn {
  border-radius: 50px;
  padding: 5px 25px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(var(--color-29));
  font-weight: 500;
}
.buyBtn {
  padding: 10px 20px;
  background-color: var(--color-mint);
  color: #fff;
  font-size: 14px;
}
.history {
  font-size: 14px;
  color: #979797;
}
.shopad_btn {
  padding: 5px 15px;
  border-radius: 50px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #757575;
  font-size: 12px;
}
.equipBtn,
.equipCancelBtn {
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  background-color: rgb(var(--color-2));
  border-radius: 5px;
}
.equipCancelBtn {
  background-color: rgb(var(--color-1));
}
.addFriendBtn {
  background-color: var(--color-mint);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 40px;
  border-radius: 5px;
  color: #fff;
  font-weight: bold;
}
.searchFriendBtn svg {
  font-size: 20px;
}
.levelupBtn {
  background-color: var(--color-mint);
  display: flex;
  align-items: center;
  justify-content: center;

  width: 120px;
  height: 40px;
  border-radius: 5px;
  color: #fff;
  font-weight: bold;
}
.timerBtn {
  background-color: var(--color-mint);
  display: flex;
  align-items: center;
  justify-content: center;

  width: 120px;
  height: 40px;
  border-radius: 5px;
  color: #fff;
  font-weight: bold;
}
.evolutionBtn {
  background-color: rgb(var(--color-score));
  display: flex;
  align-items: center;
  justify-content: center;

  width: 120px;
  height: 40px;
  border-radius: 5px;
  color: #fff;
  font-weight: bold;
}
.backBtn {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  position: relative;
}
.backBtn span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 700;
  font-size: 18px;
}
.feedBtn {
  background-color: var(--color-mint);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 40px;
  border-radius: 5px;
  flex-direction: column;
  color: #fff;
  font-weight: bold;
  white-space: pre;
  text-align: center;
}
.feedBtn span {
  font-size: 12px;
}
.detailBtn {
  font-size: 12px;
  padding: 3px 12px;
  border: 1px solid #7a7a7a;
  color: #333;
  border-radius: 50px;
}

.approvalBtn {
  background-color: var(--color-navy);
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  height: 40px;
  border-radius: 5px;
  flex-direction: column;
  color: #fff;
  font-weight: bold;
  white-space: pre;
  text-align: center;
  padding: 0 15px;
}
.rejectBtn {
  padding: 0 15px;
  background-color: rgb(var(--color-score));
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  height: 40px;
  border-radius: 5px;
  flex-direction: column;
  color: #fff;
  font-weight: bold;
  white-space: pre;
  text-align: center;
}
